@import './styles/variables';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $bg-color;
  font-family: $font-stack;
}

#root {
  width: 100%;
  height: 100%;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 100%;
  max-width: 500px;
  background: $white;
  border-radius: $radius;
  box-shadow: $box-shadow;
  margin: 2rem 0;
}

.header {
  padding: 2rem 1rem;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
  //padding-bottom: 3rem;
}

.footer {
  border-top: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin-top: auto;
  background: $white;
  position: static;
  z-index: 2;
}