/***** TaskList.module.scss *****/

.incompleteList,
.completedList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.incompleteList {
  border-bottom: 1px solid #ddd;
}

.completedList {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
}

.incompleteList li {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.incompleteList li:hover {
  background-color: #e2e2e2;
}

.completedList li {
  background-color: #d3d3d3;
  transition: background-color 0.3s ease;
}

.completedList li:hover {
  background-color: #c1c1c1;
}

.incompleteList li,
.completedList li {
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}